:root {
    --backg: grey;
    --text: white;
    --high: green;
}

* {
    box-sizing: border-box;
    font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

/*class selectors*/
.background {
    background-image: url(./images/background.png);
    background-position: top center;
    text-align: center;
    min-height: 500px;
    display: flex;
    align-items: left;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body {
      background-color: #24252A;
      color: var(--text);
}

form input {
    margin: 2px;
    padding: 10px;
}

li, a, button, h1 {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;
}

nav a {
    display: inline-block;
    padding: 0px 30px;
}

nav a:hover {
    color: rgb(129, 202, 129);
}

nav a li a {
    transition: all 0.3s ease 0s
}

nav a li a{
    transition: rgb(129, 202, 129);
}

form {
    font-size: 20px;
    align-items: flex-end;
    position: fixed;
    left: 1700px;
    bottom: 900px;
}

p {
    font-size: 35px;
    color: rgb(129, 202, 129);
}

.slogan {
    position: fixed;
    align-items: flex-start;
    bottom: 950px;
    right: 1800px;
}


button {
    margin-right: 20px;
    padding: 9px, 25px;
    background-color: var(--high);
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(129, 202, 129);
}

h1 {
    color:rgb(129, 202, 129);
    font-size: 45px;
    
}

h3 {
  text-align: center;
  color: var(--text);
}

footer {
  height: 100px;
  margin-top: 5px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

