:root {
    --backg: grey;
    --text: white;
    --high: green;
}

* {
    box-sizing: border-box;
    font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

/*class selectors*/
/* .background {
    background-position: top center;
    text-align: center;
    min-height: 500px;
    display: flex;
    align-items: left;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
} */

body {
    background-color: #24252A;
    color: var(--text);
}

form input {
    margin: 2px;
    padding: 10px;
}

li, a, .cta, h1, #submitMe {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    /* padding: 30px, 10%; */
}

nav a {
    display: inline-block;
    padding: 0px 30px;
    margin-left: -20%;
}

nav a:hover {
    color: rgb(129, 202, 129);
}

nav a li a {
    transition: all 0.3s ease 0s
}

nav a li a{
    transition: rgb(129, 202, 129);
}

form {
    font-size: 20px;

    align-items: flex-end;
    position: relative;
    /* left: 1700px;
    bottom: 900px; */
}

p {
    font-size: 25px;
    color: rgb(129, 202, 129);
}

.slogan {
    bottom: 950px;
    right: 1800px;
    width: 25%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 3%;
    margin-right: 3%;

}

.background {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.myForm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    padding-left: 15px;
    text-align: center;
}

button {
    display: flex;
    background-color: var(--high);
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

#submitMe {
    display: flex;
    align-items: center;
    margin-left: 40%;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(129, 202, 129);
}

h1 {
    color:rgb(129, 202, 129);
    font-size: 35px;
    
}

h3 {
  text-align: center;
  color: var(--text);
}

footer {
  height: 100px;
  margin-top: 5px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

@media screen and (min-width: 1408px) {
.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 100%;
}
h1 {
    font-size: 45px;
}
p {
    font-size: 35px;
}

}

@media screen and (min-width: 1216px) {
.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 100%;
}
h1{
    font-size: 40px;
}
p {
    font-size: 30px;
}

}